<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.cdnfonts.com/css/sk-concretica"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link
      rel="shortcut icon"
      href="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/favicon.ico"
      type="image/x-icon"
    />
    <title>Produtos Léo de Lita</title>
  </head>
  <body>
    <div class="group-option">
      <div class="option">
        <img
          src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/close2.webp"
          alt=""
          class="option__btn-close"
        />
        <div class="option__section--primary">
          <h2 class="option__section--primary__title"></h2>
          <div class="option__section--primary__group-description">
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/arrow-right.webp"
              alt=""
              class="option__section--primary__group-description__img"
            />
            <p class="option__section--primary__group-description__text"></p>
          </div>
          <div class="option__section--primary__group-description">
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/arrow-right.webp"
              alt=""
              class="option__section--primary__group-description__img"
            />
            <p class="option__section--primary__group-description__text-2">
              Sabor e qualidade em cada mordida – adquira sua bolacha hoje
              mesmo!
            </p>
          </div>
        </div>
        <div class="option__section--secundary">
          <img
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Doce-G-Mackup.webp"
            alt=""
            class="option__section--secundary__img-1"
          /><img
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Doce-G-Mackup.webp"
            alt=""
            class="option__section--secundary__img-2"
          />
        </div>
      </div>
    </div>

    <!-- NAVEGATION -->
    <div class="group-nav">
      <nav class="group-nav__nav">
        <span class="logo">
          <img
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/chef-hat.webp"
            alt=""
          />
          Leo de Lita
        </span>
        <ul class="group-nav__nav__list">
          <li class="group-nav__nav__list__item">
            <a href="#inicio" class="group-nav__nav__list__item__item"
              >inicio</a
            >
          </li>
          <li class="group-nav__nav__list__item">
            <a href="#sobre-nos" class="group-nav__nav__list__item__item"
              >sobre nós</a
            >
          </li>
          <li class="group-nav__nav__list__item">
            <a href="#servicos" class="group-nav__nav__list__item__item"
              >produtos</a
            >
          </li>
          <li class="group-nav__nav__list__item">
            <a
              href="#encontre-nos"
              class="group-nav__nav__list__item__item encontrenos"
              >encontre-nos</a
            >
          </li>
          <li class="group-nav__nav__list__item">
            <a href="#contato" class="group-nav__nav__list__item__item contato"
              >contato</a
            >
          </li>
        </ul>
        <img
          src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/menu-humburguer.webp"
          alt="icone de abrir e fechar menu"
          class="group-nav__nav__img-menu"
        />
      </nav>
    </div>

    <!-- HEADER -->
    <div class="group-header" id="inicio">
      <header class="group-header__header">
        <div class="group-header__header__header-primary hide-1">
          <video
            poster="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo.webp"
            width="100%"
            height="100%"
            controls
          >
            <source src="assets/video/video.mp4" type="video/mp4" />
            Seu navegador não suporta o elemento <code>video</code>.
          </video>
          <img
            class="img1"
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Nazare-Mackup.webp"
            alt=""
          />
          <img
            class="img2"
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Suica-Mackup.webp"
            alt=""
          />
          <img
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Sequilho-100-g.webp"
            alt=""
            class="img3"
          />
          <img
            src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Cebola-Mackup.webp"
            alt=""
            class="img4"
          />
        </div>
        <div class="group-header__header__header-secundary hide-2">
          <h1 class="group-header__header__header-secundary__title">
            Sabor e qualidade em cada <strong>mordida</strong>.
          </h1>

          <p class="group-header__header__header-secundary__text">
            Bolachas deliciosas para todos os gostos. Oferecemos uma variedade
            irresistível de sabores, com qualidade e frescor em cada fornada.
          </p>
          <br />
          <p
            class="group-header__header__header-secundary__text header-text-btn"
          >
            Conheça melhor nossa marca através do vídeo abaixo:
          </p>

          <!-- <a target="_blank" href="http://bit.ly/Faleconoscop" class="group-header__header__header-secundary__btn">
            Fale conosco &rsaquo;
            <div class="circle"></div>
          </a> -->
        </div>
      </header>
      <div class="group-header__color-animated-1"></div>
      <div class="group-header__color-animated-2"></div>
      <div class="group-header__color-animated-3"></div>
    </div>
    <main>
      <!-- SOBRE NÓS -->
      <div class="group-sobre-nos" id="sobre-nos">
        <section class="group-sobre-nos__sobre-nos">
          <div class="group-sobre-nos__sobre-nos__group-primary hide-2-1">
            <div>
              <span class="group-sobre-nos__sobre-nos__group-primary__suptitle">
                Sobre nós
              </span>
              <h2 class="group-sobre-nos__sobre-nos__group-primary__title">
                Sabor, qualidade e tradição
              </h2>
            </div>
            <p class="group-sobre-nos__sobre-nos__group-primary__text">
              Os Produtos Leo de Lita, liderados pelo CEO Leonardo Martins, são
              sinônimo de sabor, qualidade e tradição. Especializados em
              bolachas e torradas artesanais, a marca se destaca por oferecer
              produtos que aliam o cuidado na fabricação à autenticidade em cada
              mordida. Com ingredientes selecionados e um rigoroso controle de
              qualidade, os Produtos Leo de Lita levam para sua mesa o melhor da
              produção artesanal, conquistando consumidores que buscam
              excelência e sabor e felicidade.
            </p>
          </div>
          <div class="group-sobre-nos__sobre-nos__group-secundary hide-2-2">
            <img
              class="img"
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/logo-media.webp"
              alt=""
            />
          </div>
        </section>
      </div>

      <!-- SERVIÇOS -->
      <div class="group-servicos" id="servicos">
        <section class="group-servicos__servicos">
          <div class="group-servicos__servicos__group-primary hide-3-1">
            <span class="group-servicos__servicos__group-primary__suptitle"
              >Produtos</span
            >
            <h2 class="group-servicos__servicos__group-primary__title">
              Aqui tem bolachas para todos os gostos,
              <strong>Confira Já</strong>
            </h2>
          </div>
          <div class="group-servicos__servicos__group-secundary hide-3-1">
            <div class="card">
              <div class="card__img">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Doce-G-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Bolacha Doce</span>
              <p class="card__text">
                Bolacha doce de 300g, massa folhada, sabor agridoce.
              </p>
              <button class="card__btn p1">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Salgada-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Bolacha Salgada</span>
              <p class="card__text">
                Bolacha salgada de 300g, folhada, amanteigada.
              </p>
              <button class="card__btn p2">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Integral-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Bolacha Integral</span>
              <p class="card__text">
                Bolacha integral de 300g, com trigo integral e fibras.
              </p>
              <button class="card__btn p3">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Nazare-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Bolacha Nazaré</span>
              <p class="card__text">
                Bolacha Nazaré 300g, sabor amido de milho.
              </p>
              <button class="card__btn p4">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Praeirinha-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Bolacha Praeirinha</span>
              <p class="card__text">
                Bolacha de 300g, amido de milho e amanteigada.
              </p>
              <button class="card__btn p6">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Suica-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Bolacha Suíça</span>
              <p class="card__text">
                Bolacha suíça de 300g, com sabor amanteigado
              </p>
              <button class="card__btn p7">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img card__img-7">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Sequilho-100-g.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Sequilhos</span>
              <p class="card__text">
                Sequilhos de 100g, sabor coco, massa leve.
              </p>
              <button class="card__btn p8">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img card__img-9">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Alho-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Torradinhas de Alho</span>
              <p class="card__text">
                Torrada de 150g, sabor alho. (Novidade da marca)
              </p>
              <button class="card__btn p9">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img card__img-10">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Cebola-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Torradinhas de Cebola</span>
              <p class="card__text">
                Torrada de 150g, sabor Cebola. (Novidade da marca)
              </p>
              <button class="card__btn p10">Ver mais &rsaquo;</button>
            </div>

            <div class="card">
              <div class="card__img card__img-11">
                <img
                  src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Queijo-Mackup.webp"
                  alt=""
                  sizes=""
                  srcset=""
                />
              </div>
              <span class="card__title">Torradinhas de Queijo</span>
              <p class="card__text">
                Torrada de 150g, sabor Queijo. (Novidade da marca)
              </p>
              <button class="card__btn p11">Ver mais &rsaquo;</button>
            </div>
          </div>
        </section>
      </div>

      <!-- MISSÃ, VISÃO E VALORES -->
      <div class="group-missao">
        <section class="group-missao__missao">
          <div class="card-missao">
            <div class="card-missao--primary">
              <h3 class="card-missao--primary__title">Missão</h3>
              <p class="card-missao--primary__text">
                Oferecer alimentos saborosos e artesanais com agilidade,
                profissionalismo e qualidade, levando à mesa dos nossos clientes
                o verdadeiro sabor da tradição.
              </p>
            </div>
            <div class="card-missao--secondary">
              <h3 class="card-missao--secondary__title">Visão</h3>
              <p class="card-missao--secondary__text">
                Ser reconhecida como uma marca sólida e referência no Nordeste
                na produção, comercialização e distribuição de alimentos,
                fortalecendo laços com nossos clientes, fornecedores e
                colaboradores por meio de confiança, parceria e excelência
              </p>
            </div>
            <div class="card-missao--tertiary">
              <h3 class="card-missao--tertiary__title">Valores</h3>
              <ul class="card-missao--tertiary__list">
                <li class="item">Fé em Deus e na força do trabalho</li>
                <li class="item">Lealdade e confiança em todas as relações</li>
                <li class="item">
                  Transparência e comunicação com ética e respeito
                </li>
                <li class="item">
                  Compromisso com a qualidade e o sabor artesanal
                </li>
                <li class="item">
                  Valorização de pessoas, tradições e histórias que nos inspiram
                  a fazer o melhor todos os dias
                </li>
              </ul>
            </div>
            <div class="card-missao--quartiary">
              <img
                src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Queijo-Mackup.webp"
                alt=""
                class="img"
              />
              <img
                src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Queijo-Mackup.webp"
                alt=""
                class="img"
              />
              <img
                src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Integral-Mackup.webp"
                alt=""
                class="img"
              />
              <img
                src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo%20de%20Lita%20Bolacha%20Praeirinha%20M.webp"
                alt=""
                class="img"
              />
              <img
                src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Salgada-Mackup.webp"
                alt=""
                class="img"
              />
            </div>

            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Queijo-Mackup.webp"
              alt=""
              class="animedImg"
            />
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Queijo-Mackup.webp"
              alt=""
              class="animedImg2"
            />
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Salgada-Mackup.webp"
              alt=""
              class="animedImg3"
            />
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Salgada-Mackup.webp"
              alt=""
              class="animedImg4"
            />
          </div>
        </section>
      </div>

      <!-- ENCONTRE-NOS -->
      <div class="group-encontre-nos" id="encontre-nos">
        <div class="group-encontre-nos__animated-1"></div>
        <div class="group-encontre-nos__animated-2"></div>
        <div class="group-encontre-nos__animated-3"></div>
        <section class="group-encontre-nos__econtre-nos">
          <div class="group-encontre-nos__econtre-nos__group-primary hide-1">
            <h2 class="group-encontre-nos__econtre-nos__group-primary__title">
              Confira nossa <strong>Localização</strong>
            </h2>
            <p class="group-encontre-nos__econtre-nos__group-primary__text">
              A Empresa Produtos Leo de Lita está localizada na cidade de
              Jaboatão dos Guararapes, oferecendo bolachas artesanais de
              altíssima qualidade, feitas com carinho e ingredientes
              selecionados. Descubra sabores únicos que encantam a todos!
            </p>
          </div>
          <div class="group-encontre-nos__econtre-nos__group-secundary hide-2">
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/loja-fisica2.jpg"
              class="group-encontre-nos__econtre-nos__group-secundary__img"
              alt=""
            />
          </div>
        </section>
      </div>

      <!-- CONTATO -->
      <div class="group-contato" id="contato">
        <section class="group-contato__contato">
          <div class="group-contato__contato__group-primary hide-2-1">
            <span class="group-contato__contato__group-primary__suptitle"
              >Contato</span
            >
            <h2 class="group-contato__contato__group-primary__title">
              Envie um email para nossa Distribuidora
            </h2>
            <form action="" class="group-contato__contato__group-primary__form">
              <input
                placeholder="Insira seu nome e sobrenome"
                type="text"
                name=""
                id=""
              />
              <input
                placeholder="Insira seu E-MAIL"
                type="email"
                name=""
                id=""
              />
              <input
                placeholder="Insira o assunto da mensagem"
                type="text"
                name=""
                id=""
              />
              <textarea placeholder="Sua mensagem" name="" id=""></textarea>
              <input type="submit" value="Enviar" />
            </form>
          </div>
          <div class="group-contato__contato__group-secundary hide-2-2">
            <img
              src="https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/imagem%20banner.webp"
              alt=""
            />
            <div class="group-social">
              <a
                target="_blank"
                href="https://www.instagram.com/produtosleodelita"
              >
                <i class="bx bxl-instagram"></i>
              </a>
              <a target="_blank" href="http://bit.ly/Faleconoscop">
                <i class="bx bxl-whatsapp"></i>
              </a>
              <a
                target="_blank"
                href="https://m.facebook.com/profile.php?id=61566661689444"
              >
                <i class="bx bxl-facebook"></i>
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>

    <!-- FOOTER -->
    <div class="group-footer">
      <footer class="group-footer__footer">
        <a href="#">&copy; Direitos reservados</a>
      </footer>
    </div>
    <script>
      let menuHumburguerVisible = false;
      let optionServiceVisible = false;
      let isOptionVisible = false;

      // objeto dos produtos
      const itemsOption = [
        {
          id: "p1",
          title: "Bolacha Doce",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Doce-G-Mackup.webp",
          description:
            "A bolacha doce tem 300g, é de massa folhada e tem um sabor agridoce. Ela é a queridinha da marca.",
        },
        {
          id: "p2",
          title: "Bolacha Salgada",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Salgada-Mackup.webp",
          description:
            "A bolacha salgada tem 300g, é de massa folhada e tem um sabor levemente amanteigado.",
        },
        {
          id: "p3",
          title: "Bolacha Integral",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Integral-Mackup.webp",
          description:
            "A bolacha integral tem 300g, feita com farinha de trigo integral e fibras que ajudam na digestão.",
        },
        {
          id: "p4",
          title: "Bolacha Nazaré",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Nazare-Mackup.webp",
          description:
            "A bolacha nazaré tem 300g, com sabor de amido de milho.",
        },
        {
          id: "p6",
          title: "Bolacha Praeirinha",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Praeirinha-Mackup.webp",
          description:
            "A bolacha praieirinha tem 300g com sabor de amido de milho e amanteigado.",
        },
        {
          id: "p7",
          title: "Bolacha Suíça",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Bolacha-Suica-Mackup.webp",
          description: "A bolacha suíça tem 300g, e com o sabor amanteigado.",
        },
        {
          id: "p8",
          title: "Sequilhos",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Sequilho-100-g.webp",
          description:
            "O sequilho tem 100g, com sabor de coco e massa que desmancha na boca. Contém ovos e leite de coco.",
        },
        {
          id: "p9",
          title: "Torradinha de Alho",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Alho-Mackup.webp",
          description:
            "A torradinha de alho tem 150g, com um sabor marcante de alho. São as novidades da marca.",
        },
        {
          id: "p10",
          title: "Torradinha de Cebola",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Cebola-Mackup.webp",
          description:
            "A torradinha de Cebola tem 150g, com um sabor marcante de Cebola. São as novidades da marca.",
        },
        {
          id: "p11",
          title: "Torradinha de Queijo",
          imgUrl:
            "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/Leo-de-Lita-Torrada-Cebola-Mackup.webp",
          description:
            "A torradinha de Queijo tem 150g, com um sabor marcante de Queijo . São as novidades da marca.",
        },
      ];

      document.addEventListener("DOMContentLoaded", () => {
        const btnMenu = getElement(".group-nav__nav__img-menu");
        const menu = getElement(".group-nav__nav__list");
        const buttonsCard = getElement(".card__btn", true);

        //evento de click do botão de menu
        btnMenu.addEventListener("click", () => {
          menu.style.display = menuHumburguerVisible ? "none" : "flex";
          getElement(".group-nav__nav__img-menu").setAttribute(
            "src",
            menuHumburguerVisible
              ? "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/menu-humburguer.webp"
              : "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/close.webp"
          );
          menuHumburguerVisible = toggleVariable(menuHumburguerVisible);
        });

        //voltar o menu ao normal quando o tamanho mudar
        window.addEventListener("resize", () => {
          if (window.innerWidth > 884) {
            menu.style.display = "flex";
            menuHumburguerVisible = false;
            getElement(".group-nav__nav__img-menu").setAttribute(
              "src",
              "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/menu-humburguer.webp"
            );
          } else {
            menu.style.display = "none";
            menuHumburguerVisible = false;
            getElement(".group-nav__nav__img-menu").setAttribute(
              "src",
              "https://raw.githubusercontent.com/jefferson-da-silva-santos/imagens-projetos/refs/heads/main/BolachasLeoDeLita/webp/menu-humburguer.webp"
            );
          }
        });

        // Animações
        criarObservacao(".hide-1", "show-1");
        criarObservacao(".hide-2", "show-2");

        criarObservacao(".hide-2-1", "show-2-1");
        criarObservacao(".hide-2-2", "show-2-2");

        criarObservacao(".hide-3-1", "show-3-1");

        //Evento para mudar a cor do menu quando ele estiver no topo
        window.addEventListener("scroll", () => {
          getElement(".group-nav").style.backgroundColor =
            window.scrollY === 0 ? "rgba(1, 4, 70, 0.8)" : "rgb(5 8 51 / 80%)";
        });

        // Abrir option
        buttonsCard.forEach((currentBtn) => {
          currentBtn.addEventListener("click", () => {
            const currentClass = currentBtn.classList[1];
            itemsOption.forEach((item) => {
              if (item.id === currentClass) {
                openCloseOption(isOptionVisible, item);
              }
            });
          });
        });

        // Fechar Option
        const btnClose = getElement(".option__btn-close");
        if (btnClose) {
          btnClose.addEventListener("click", () => {
            openCloseOption(true);
          });
        }

        // Executa a função ao carregar a página
        updateHeaderText();

        // Adiciona um listener para verificar a alteração de tamanho da tela
        window.addEventListener("resize", updateHeaderText);
      });

      function updateHeaderText() {
        const element = document.querySelector(".header-text-btn");
        if (!element) return;

        const textLarge = "Conheça melhor nossa marca através do vídeo ao lado";
        const textSmall = "Conheça melhor nossa marca através do vídeo abaixo:";

        element.textContent = window.innerWidth > 980 ? textLarge : textSmall;
      }

      // Função responsável por abrir e fechar o option
      function openCloseOption(visible, object = null) {
        if (!visible && object) {
          let textDescription = "";
          switch (object.id) {
            case "p8":
              textDescription = "seu Sequilho";
              break;
            case "p9":
              textDescription = "sua Torradinha";
              break;
            case "p10":
              textDescription = "sua Torradinha";
              break;
            case "p11":
              textDescription = "sua Torradinha";
              break;
          }
          getElement(".group-option").style.visibility = "visible";
          getElement(".option__section--primary__title").textContent =
            object.title;
          getElement(
            ".option__section--primary__group-description__text"
          ).textContent = object.description;
          getElement(".option__section--secundary__img-1").setAttribute(
            "src",
            object.imgUrl
          );
          getElement(".option__section--secundary__img-2").setAttribute(
            "src",
            object.imgUrl
          );
          getElement(
            ".option__section--primary__group-description__text-2"
          ).textContent = `Sabor e qualidade em cada mordida – adquira ${
            textDescription ? textDescription : "sua Bolacha"
          } hoje
    mesmo!`;
          isOptionVisible = toggleVariable(isOptionVisible);
          return;
        }

        getElement(".group-option").style.visibility = "hidden";
        getElement(".option__section--primary__title").textContent = "";
        getElement(
          ".option__section--primary__group-description__text"
        ).textContent = "";
        getElement(".option__section--secundary__img-1").setAttribute(
          "src",
          ""
        );
        getElement(".option__section--secundary__img-2").setAttribute(
          "src",
          ""
        );
        isOptionVisible = toggleVariable(isOptionVisible);
        return;
      }

      // Função de alternar valores booleanos de variáveis
      function toggleVariable(variable) {
        return !variable;
      }

      //Função de selecionar elementos por classe
      function getElement(clss, multiple = false) {
        return multiple
          ? document.querySelectorAll(clss)
          : document.querySelector(clss);
      }

      // Lógica para abrir option
      function openClosedOtionService(title = "", description = "", html = "") {
        document.body.style.overflow = optionServiceVisible ? "auto" : "hidden";
        getElement(".container-option").style.display = optionServiceVisible
          ? "none"
          : "flex";
        getElement(".option__title").textContent = optionServiceVisible
          ? ""
          : title;
        getElement(".option__text").textContent = optionServiceVisible
          ? ""
          : description;
        getElement(".servicos").innerHTML = optionServiceVisible ? "" : html;
        optionServiceVisible = toggleVariable(optionServiceVisible);
      }

      //Função responsável por aplicar animações com quando os elementos estão observáveis
      function criarObservacao(classeOculta, classeMostrar) {
        const observacao = new IntersectionObserver((entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              entry.target.classList.add(classeMostrar);
            } else {
              return;
            }
          });
        });

        const elementosOcultos = document.querySelectorAll(classeOculta);
        elementosOcultos.forEach((element) => observacao.observe(element));
      }
    </script>
  </body>
</html>