@import "variables.scss";
@import "global.scss";
@import "mixins.scss";
@import "keyframes.scss";

.group-encontre-nos__econtre-nos__group-secundary {
  .group-btns {
    display: none;
  }
}

/*===================(OPTION)========================*/

.open {
  animation: openModal 0.5s ease 0s 1 normal forwards;
}

.close {
  animation: closeModal 0.5s ease 0s 1 normal forwards;
}

.group-option {
  position: fixed;
  z-index: 900000000;
  padding: 2em;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #0407279f;
  @include flexbox(flex, row, center, center, 0);

  .option {
    position: relative;
    @include grid-layout(grid, 1fr 1fr, auto, 0, 0);
    width: 100%;
    font-family: $font-text;
    max-width: 48em;
    height: 20em;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(1, 1, 41, 0.603);

    &__btn-close {
      position: absolute;
      width: 30px;
      margin-right: 15px;
      margin-top: 5px;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 1;
    }

    &__section--primary {
      @include flexbox(flex, column, flex-start, baseline, 1.5em);
      padding: 2em 2em;
      border-left: 12px solid $color-3;

      &__title {
        color: #001b75;
        font-family: $font-title;
        font-size: 2em;
        margin-bottom: 7px;
      }

      &__group-description {
        @include grid-layout(grid, 4em 1fr, auto, 0, 0);

        &__img {
          width: 50px;
        }
      }
    }

    &__section--secundary {
      @include flexbox(flex, row, center, center, 0);
      position: relative;
      border-right: 12px solid $color-3;

      &__img-1,
      &__img-2 {
        max-width: 9em;
      }

      &__img-1 {
        transform: rotate(-17deg);
        max-width: 7em;
        margin-top: -2em;
        left: -1em;
      }

      &__img-2 {
        transform: rotate(15deg);
      }
    }
  }
}

/*===================(NAVEGAÇÃO)=====================*/
.group-nav {
  z-index: 90000;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(5px);
  background: rgba(1, 4, 70, 0.8);
  transition: background-color 1s ease;

  &__nav {
    @include flexbox(flex, row, space-between, center, 0);
    position: relative;
    max-width: $max-width;
    width: 95%;
    margin: auto;
    padding: 1.3em 0em;

    .logo {
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      color: white;
      font-weight: bolder;
      font-size: 1.3em;

      img {
        width: 25px;
        margin-right: 5px;
      }

      i {
        color: $color-1;
        margin-left: 5px;
        font-size: 1em;
        text-shadow: none;
      }
    }

    &__img-menu {
      display: none;
      position: absolute;
      right: 0;
      width: 40px;
      cursor: pointer;
    }

    &__list {
      @include flexbox(flex, row, center, center, 2em);
      list-style-type: none;
      font-family: $font-text;
      text-transform: capitalize;

      &__item {
        &__item {
          position: relative;
          text-decoration: none;
          color: white;
          font-size: 1em;
          padding: 7px 0;
          transition: all 1s ease;

          &::before {
            position: absolute;
            bottom: 0;
            content: "";
            width: 0%;
            height: 2px;
            background-color: $color-1;
            border-radius: 6px;
            transition: width 1s cubic-bezier(0.34, 1.34, 1, -0.34);
          }

          &:hover::before {
            width: 100%;
          }
        }

        .encontrenos {
          i {
            color: $color-2;
          }
        }

        .contato {
          i {
            color: $color-1;
          }
        }

        .idioma {
          color: #f26e22;
          i {
            color: white;
          }
        }
      }
    }
  }
}

/*===================(HEADER)=====================*/
.group-header {
  position: relative;
  min-height: $min-heigth;
  background-color: #0025a0;
  overflow: hidden;
  @include flexbox(flex, row, center, center, center);

  .docoration_1 {
    position: absolute;
    max-width: 20rem;
    left: 0;
    bottom: 0;
  }
  .docoration_2 {
    position: absolute;
    max-width: 20rem;
    right: 0;
    top: 0;
  }

  &__header {
    position: absolute;
    z-index: 900;
    width: 95%;
    max-width: $max-width;
    margin: auto;
    @include grid-layout(grid, 1fr 1fr, none, 2rem, 0);

    &__header-primary {
      @include flexbox(flex, column, center, center, 0);
      padding-top: 3.5em;
      position: relative;

      transition: all 1s ease;
      width: 100%;
      max-width: 36em;
      margin: auto;

      video {
        background-image: linear-gradient(to top, black, #001d7e);
        max-width: 17em;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border: 2px solid white;
        z-index: 2;
      }

      img {
        position: absolute;
        max-width: 12em;
      }

      .img1 {
        transform: rotate(44deg);
        right: 3em;
        top: 5em;
        animation: imagem_header_1 5s ease-in 0s infinite normal forwards;
      }

      .img2 {
        transform: rotate(-44deg);
        max-width: 13em;
        left: 3em;
        animation: imagem_header_2 5s ease-in 0s infinite normal forwards;
      }

      .img3 {
        transform: rotate(-54deg);
        max-width: 10em;
        left: 3em;
        top: 16em;
        animation: imagem_header_3 5s ease-in 0s infinite normal forwards;
      }

      .img4 {
        transform: rotate(59deg);
        right: 4em;
        top: 13em;
        max-width: 11em;
        animation: imagem_header_4 5s ease-in 0s infinite normal forwards;
      }

      &__line-1 {
        position: absolute;
        height: 0%;
        width: 2px;
        background-color: white;
        left: 0;
        top: 5%;
        border-radius: 5px;
      }

      &__img {
        clip-path: polygon(
          0 0,
          80% 0%,
          100% 20%,
          81% 81%,
          100% 100%,
          20% 100%,
          0% 80%,
          18% 23%
        );
        width: 70%;
      }
    }

    &__header-secundary {
      @include flexbox(flex, column, center, baseline, 0);
      padding-left: 3.5em;

      transition: all 1s ease;
      margin-top: 1em;

      .header-text-btn {
        font-weight: bold;
      }

      &__title {
        color: #fff;
        margin-bottom: 22px;
        max-width: 9em;
        @extend %title;
        font-size: 3.5em;

        strong {
          color: #fff;
          font-weight: 600;
        }
      }

      &__text {
        font-family: $font-text;
        color: white;
        @extend %text;
        max-width: 31rem;
        font-size: 1.3rem;
      }

      &__btn {
        //#faec7a //#cf9b01
        cursor: pointer;
        margin-top: 2em;
        padding: 0.8em 2em;
        background-image: linear-gradient(to right, #cf9b01, #cf9b01, #faec7a);
        border-radius: 30px 5px 30px 5px;
        border: none;
        color: rgb(255, 255, 255);
        font-family: $font-text;
        letter-spacing: 2px;
        font-size: 1.2em;
        transition: all 0.5s ease;

        &:hover {
          transform: scale(105%);
          box-shadow: 0px 0px 10px rgba(168, 166, 16, 0.534);
        }
      }
    }
  }

  &__color-animated-1 {
    @extend %animated-1;
  }

  &__color-animated-2 {
    @extend %animated-2;
  }

  &__color-animated-3 {
    @extend %animated-3;
  }
}

/*===================(SOBRE-NOS)=====================*/
.group-sobre-nos {
  min-height: $min-heigth;
  background-color: #fff;
  overflow: hidden;
  @include flexbox(flex, row, center, center, 0);

  &__sobre-nos {
    width: 95%;
    max-width: $max-width;
    margin: auto;
    padding: 3em 0;
    @include grid-layout(grid, 1fr 1fr, none, 0, 0);

    &__group-primary {
      @include flexbox(flex, column, center, baseline, 0);
      padding-left: 4em;

      transition: all 1s ease;

      &__suptitle {
        @extend %suptitle;
        color: $color-3;
      }

      &__title {
        color: $color-3;
        text-transform: uppercase;
        @extend %title;
        margin-top: 15px;
        max-width: 11em;
      }

      &__text {
        @extend %text;
        color: #525252;
        max-width: 100%;
        margin-top: 1em;
      }
    }

    &__group-secundary {
      position: relative;
      @include flexbox(flex, row, center, center, 0);

      transition: all 1s ease;

      img {
        max-width: 28em;
        width: 100%;
        display: block; /* Adicionado */
        perspective: 500px;
        animation: fluterLogo 8s ease 0s infinite alternate forwards;
      }
    }
  }
}

/*===================(SERVIÇOS)=====================*/
.group-servicos {
  min-height: $min-heigth;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  @include flexbox(flex, row, center, center, 0);

  &__servicos {
    @include grid-layout(grid, 1fr, 12em 1fr, 0, 0);
    width: 95%;
    max-width: $max-width;
    margin: auto;

    &__group-primary {
      @include flexbox(flex, column, center, center, 0);
      text-align: center;

      transition: all 1s ease;

      &__suptitle {
        @extend %suptitle;
        color: $color-3;
      }

      &__title {
        @extend %title;
        max-width: 20em;
        color: $color-3;
        margin-top: 15px;
        font-size: 2.8em;
        text-transform: uppercase;

        strong {
          color: $color-3;
          font-weight: 600;
        }
      }
    }

    &__group-secundary {
      @include grid-layout(grid, repeat(4, 1fr), auto, 2em, 8.5em);
      padding: 6.5em 0;

      transition: all 1s ease;

      .card {
        @include flexbox(flex, column, flex-start, center, 0.5em);
        background-color: transparent;
        position: relative;
        padding: 1.5em 1.3em;
        border-radius: 25px;
        border: none;
        max-width: 18em;
        margin: auto;
        box-shadow: 1px 2px 20px rgb(198 198 198 / 49%);
        transition: box-shadow 0.5s ease;

        &:hover {
          box-shadow: 1px 2px 20px rgba(158, 158, 158, 0.49);
        }

        &__img {
          height: 9em;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 1em;
          @include flexbox(flex, row, center, center, 0);
          overflow: inherit;

          img {
            position: absolute;
            max-width: 9.2em;
            top: -80px;
          }
        }

        .card__img-7 {
          img {
            width: 7.5em;
            top: -55px;
          }
        }

        .card__img-9,
        .card__img-10,
        .card__img-11 {
          img {
            top: -70px;
            width: 7.5em;
          }
        }

        &__title {
          font-family: $font-title;
          font-size: 1.3em;
          max-width: 15em;
          text-align: center;
          font-weight: 600;
          color: $color-3;
          // letter-spacing: 1px;
        }

        &__text {
          text-align: center;
          font-family: $font-text;
          color: #929292;
          font-size: 0.9em;
          max-width: 17em;
          font-weight: 600;
        }

        &__btn {
          cursor: pointer;
          padding: 0.8em 2em;
          background-image: linear-gradient(
            to right,
            #2a0fa1,
            #371ea8,
            #3001ff
          );
          border-radius: 30px 5px 30px 5px;
          border: none;
          color: rgb(255, 255, 255);
          font-family: "Montserrat", sans-serif;
          letter-spacing: 2px;
          font-size: 1em;
          transition: all 0.5s ease;
          margin-top: 10px;

          &:hover {
            transform: scale(105%);
            box-shadow: 0px 0px 10px rgba(168, 166, 16, 0.534);
          }
        }
      }

      .card-hover {
        animation: mouseEnterProduct 0.5s ease-in 0s 1 normal forwards;
      }
    }
  }
}

/*===================(MISSÃO VISÃO E VALORES)=====================*/
.group-missao {
  font-family: $font-title;
  min-height: 40rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  @include flexbox(flex, row, center, center, 0);

  &__missao {
    position: absolute;
    z-index: 900;
    width: 90%;
    max-width: 1219px;
    margin: auto;

    .card-missao {
      position: relative;
      background-image: linear-gradient(to left, #2c11a2, #3003f8);
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1.2fr 1.1fr;
      column-gap: 0rem;
      color: white;
      padding: 3rem 0 2rem 0;
      border-radius: 74px;
      box-shadow: 10px 10px 10px #808080ab;

      .animedImg {
        position: absolute;
        width: 40px;
        transform: rotate(30deg);
        left: 68%;
        bottom: 0;
        top: -53px;
        animation: animacaoAnimedImg1 1s ease 0s infinite normal forwards;
      }

      .animedImg2 {
        position: absolute;
        width: 40px;
        transform: rotate(-32deg);
        left: 26%;
        bottom: -46px;
        animation: animacaoAnimedImg3 1s ease 0s infinite normal forwards;
      }

      .animedImg3 {
        position: absolute;
        width: 40px;
        transform: rotate(-32deg);
        left: -2%;
        top: 15%;
        animation: animacaoAnimedImg3 1s ease 0s infinite normal forwards;
      }

      .animedImg4 {
        position: absolute;
        width: 40px;
        transform: rotate(34deg);
        left: 76%;
        bottom: -11%;
        animation: animacaoAnimedImg4 1s ease 0s infinite normal forwards;
      }

      &--primary {
        text-align: center;
        padding: 0 1.3rem;
        @include flexbox(flex, column, flex-start, center, 1em);
        border-right: 4px solid #471dff;

        &__title {
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 600;
        }

        &__text {
          font-size: 1.2rem;
          font-weight: 600;
          max-width: 11rem;
        }
      }

      &--secondary {
        text-align: center;
        padding: 0 1.3rem;
        @include flexbox(flex, column, flex-start, center, 1em);
        border-right: 4px solid #471dff;

        &__title {
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 600;
        }

        &__text {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      &--tertiary {
        @include flexbox(flex, column, flex-start, center, 1em);
        padding: 0 1.3rem 0 1.3rem;
        border-right: 4px solid #471dff;

        &__title {
          font-size: 2rem;
          text-transform: uppercase;
          font-weight: 600;
        }

        &__list {
          list-style: inside;

          .item {
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }

      &--quartiary {
        @include flexbox(flex, column, flex-start, center, 1em);
        padding: 2rem;
        position: relative;

        .img {
          position: absolute;
          width: 125px;

          &:nth-child(1) {
            top: 7px;
            left: 118px;
            transform: rotate(25deg);
            animation: animacaoBolachas1 2s ease 0s infinite normal forwards;
          }
          &:nth-child(2) {
            top: -10px;
            left: 64px;
            transform: rotate(-27deg);
            animation: animacaoBolachas2 2s ease 0s infinite normal forwards;
          }
          &:nth-child(3) {
            top: 80px;
            left: 46px;
            transform: rotate(-27deg);
            animation: animacaoBolachas2 2s ease 0s infinite normal forwards;
          }
          &:nth-child(4) {
            top: 80px;
            width: 125px;
            left: 134px;
            transform: rotate(30deg);
            animation: animacaoBolachas4 2s ease 0s infinite normal forwards;
          }
          &:nth-child(5) {
            top: 128px;
            width: 135px;
            left: 93px;
            transform: rotate(8deg);
            animation: animacaoBolachas5 2s ease 0s infinite normal forwards;
          }
        }
      }
    }
  }
}

/*===================(ENCONTRE-NOS)=====================*/
.group-encontre-nos {
  position: relative;
  min-height: $min-heigth;
  background-color: #190b35;
  overflow: hidden;
  @include flexbox(flex, row, center, center, 0);

  .docoration_1 {
    position: absolute;
    max-width: 20rem;
    left: 0;
    bottom: 0;
  }
  .docoration_2 {
    position: absolute;
    max-width: 20rem;
    right: 0;
    top: 0;
  }

  &__econtre-nos {
    position: absolute;
    z-index: 900;
    width: 95%;
    max-width: $max-width;
    margin: auto;
    @include grid-layout(grid, 1fr 1fr, none, 0, 0);

    &__group-primary {
      @include flexbox(flex, column, center, center, 0);
      transition: all 1s ease;

      &__title {
        @extend %title;
        color: white;

        strong {
          color: #fff;
          font-weight: 600;
        }
      }

      &__text {
        margin-top: 1em;
        @extend %text;
        color: white;
        max-width: 27em;
      }
    }

    &__group-secundary {
      min-height: 20em;
      width: 100%;
      @include flexbox(flex, row, center, center, 2em);

      transition: all 1s ease;

      .voltar {
        transform: rotate(180deg);
        cursor: pointer;
      }

      .avancar,
      .voltar {
        width: 50px;
        cursor: pointer;
        z-index: 9;
      }

      &__img {
        width: 100%;
        max-width: 25em;
        border-radius: 10px;
      }
    }
  }

  &__animated-1 {
    @extend %animated-1;
  }
  &__animated-2 {
    @extend %animated-2;
  }
  &__animated-3 {
    @extend %animated-3;
  }
}

/*===================(CONTATO)=====================*/
.group-contato {
  min-height: $min-heigth;
  background-color: white;
  overflow: hidden;
  @include flexbox(flex, row, center, center, center);

  &__contato {
    width: 95%;
    max-width: $max-width;
    margin: auto;
    @include grid-layout(grid, 1fr 1fr, none, 0, 0);

    &__group-primary {
      transition: all 1s ease;
      &__form {
        @include flexbox(flex, column, space-between, none, 1em);
        margin-top: 1.5em;

        input {
          padding: 0.8em 0.8em 0.8em 0.4em;
          border: 1px solid #d9d9d9;
          background-color: #f2f2f2;
          font-family: $font-text;
          border-radius: 5px;
          outline: none;
          transition: all 0.3s ease;
          &:focus {
            padding: 0.8em 0.8em 0.8em 0.8em;
          }
          &::placeholder {
            color: $color-3;
            font-weight: 400;
          }
        }

        button {
          padding: 0.8em 0.8em 0.8em 0.4em;
          border: 1px solid #d9d9d9;
          background-color: #f2f2f2;
          font-family: $font-text;
          border-radius: 5px;
          outline: none;
          transition: all 0.3s ease;
          &:focus {
            padding: 0.8em 0.8em 0.8em 0.8em;
          }
          &::placeholder {
            color: $color-3;
            font-weight: 400;
          }
        }

        textarea {
          height: 8em;
          border: 1px solid #d9d9d9;
          border-radius: 5px;
          outline: none;
          padding: 0.8em 0.8em 0.8em 0.4em;
          background-color: #f2f2f2;
          transition: all 0.3s ease;
          &:focus {
            padding: 0.8em 0.8em 0.8em 0.8em;
          }
          &::placeholder {
            color: $color-3;
            font-weight: 400;
            font-family: $font-text;
          }
        }

        input[type="submit"] {
          background-color: $color-3;
          color: white;
          cursor: pointer;
        }
      }

      &__suptitle {
        @extend %suptitle;
        color: $color-3;
      }

      &__title {
        @extend %title;
        text-transform: uppercase;
        color: $color-3;
        font-size: 2.7em;
        margin: 10px 0;
        max-width: 20em;
        letter-spacing: 1px;
      }
    }

    &__group-secundary {
      @include flexbox(flex, column, center, center, 1em);

      transition: all 1s ease;

      img {
        max-width: 20em;
        border-radius: 10px;
        box-shadow: 5px 5px 10px darken(white, 20%);
        animation: imagemAdmin 5s ease 0s infinite normal forwards;
      }

      .group-social {
        @include flexbox(flex, row, center, center, 1em);

        a {
          @include flexbox(flex, row, center, center, 0);
          padding: 10px;
          width: 3em;
          height: 3em;
          background-image: linear-gradient(
            to right,
            #cf9b01,
            #cf9b01,
            #faec7a
          );
          border-radius: 10px 10px 10px 10px;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(120%);
          }

          i {
            color: white;
            font-size: 2em;
          }
        }
      }
    }
  }
}

/*===================(FOOTER)=====================*/
.group-footer {
  background-color: #00155c;
  overflow: hidden;
  @include flexbox(flex, row, center, center, center);
  box-shadow: 0px 0px 10px rgba(41, 41, 41, 0.397);

  &__footer {
    padding: 1em;

    a {
      text-decoration: none;
      color: white;
      font-family: $font-text;
      letter-spacing: 2px;
    }
  }
}

@import "media.scss";
