@import url("https://fonts.cdnfonts.com/css/sk-concretica");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/korolev-heavy");

@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$max-width: 1150px;
$min-heigth: 100vh;
$font-title: "Inter", sans-serif;
$font-text: "Montserrat", sans-serif;
$font-logo: "Comfortaa", sans-serif;
$color-1: #d09c03;
$color-2: #06fcbb;
$color-3: #2a0fa1;